
@{ ViewBag.Title = "Label Form Review";
    Layout = "~/Views/Shared/_Layout.cshtml"; }
<input type="text" name="IDWO" id="IDWO" value="@ViewBag.WO" hidden />
<input type="text" name="hid_labnum" id="hid_labnum" value="@ViewBag.LabNum" hidden />
<input type="text" name="District_HD" id="District_HD" value="@ViewBag.District" hidden />
<input type="number" name="unitHMOilChanged" id="unitHMOilChanged" value="0" hidden />
<input type="text" name="role" id="role" value="@Session["ID_Role"]" hidden />

<div class="content">
    <h2 class="content-heading"><b>Sample Label Form</b></h2>


    <!-- Dynamic Table Full -->
    <div class="block">
        <div class="block-header block-header-default">
            <h3 class="block-title">Sample Label Form</h3>
            <a href="/SampleDueDate/Update" class="btn btn-alt-warning">
                <i class="fa fa-arrow-left mr-5"></i> Back
            </a>
            <div class="block-options">
                <button style="display:none" type="submit" id="btn-update" onclick="saveLabelForm()" class="btn btn-alt-success">
                    <i class="fa fa-save mr-5"></i> Update Status
                </button>

            </div>
        </div>

        <div class="block-content">
            <form action="#" method="post" onsubmit="return false;">
                <div class="row">
                    <div class="col-6">
                        <div class="form-group row">
                            <label class="col-lg-3 col-form-label" for="txt_labNumber">Lab Number</label>

                            <div class="col-lg-7">
                                <input type="text" class="form-control" id="txt_labNumber" name="txt_labNumber" disabled>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-lg-3 col-form-label" for="txt_WONumber">WO Number</label>

                            <div class="col-lg-7">
                                <input type="text" class="form-control" id="txt_WONumber" name="txt_WONumber" disabled>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-lg-3 col-form-label" for="txt_labDistrict">District</label>

                            <div class="col-lg-7">
                                <input type="text" class="form-control" id="txt_labDistrict" name="txt_labDistrict" disabled>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-lg-3 col-form-label" for="txt_unitModel">Unit Model</label>

                            <div class="col-lg-7">
                                <input type="text" class="form-control" id="txt_unitModel" name="txt_unitModel" disabled>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-lg-3 col-form-label" for="txt_unitNumber">Unit Number</label>

                            <div class="col-lg-7">
                                <input type="text" class="form-control" id="txt_unitNumber" name="txt_unitNumber" disabled>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-lg-3 col-form-label" for="txt_unitHM">unit HM</label>

                            <div class="col-md-4">
                                <input type="number" class="form-control" id="txt_unitHM" name="txt_unitHM" disabled>
                            </div>
                            <div class="col-md-3">
                                <select class="js-select2 form-control" id="txt_hmkm" name="txt_hmkm" disabled>
                                    <option value="HM">HM</option>
                                    <option value="KM">KM</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-lg-3 col-form-label" for="txt_manufacture">Manufacture</label>

                            <div class="col-lg-7">
                                <input type="text" class="form-control" id="txt_manufacture" name="txt_manufacture" disabled>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-lg-3 col-form-label" for="txt_component">Component</label>

                            <div class="col-lg-7">
                                <input type="text" class="form-control" id="txt_component" name="txt_component" disabled>
                            </div>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="form-group row">
                            <label class="col-lg-3 col-form-label" for="txt_samplingDate">Sampling Date</label>

                            <div class="col-lg-7">
                                <input type="date" class="form-control" id="txt_samplingDate" name="txt_samplingDate" disabled>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-lg-3 col-form-label" for="txt_oilBrand">Oil Brand</label>

                            <div class="col-lg-7">
                                @*<input type="text" class="form-control" id="txt_oilBrand" name="txt_oilBrand" required>*@
                                <select class="js-select2 form-control" onchange="addOilType()" id="txt_oilBrand" name="txt_oilBrand" style="width: 100%;" disabled>
                                </select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-lg-3 col-form-label" for="txt_oilType">Oil Type</label>

                            <div class="col-lg-7">
                                @*<input type="text" class="form-control" id="txt_oilType" name="txt_oilType" required>*@
                                <select class="js-select2 form-control" @*onchange="getPIC()"*@ id="txt_oilType" name="txt_oilType" style="width: 100%;" disabled>
                                    <option value=""></option>
                                    @foreach (var item in ViewBag.Data_OilType)
                                    {
                                        if (ViewBag.TypeOil != null)
                                        {
                                            if (item.OilType == ViewBag.TypeOil)
                                            {
                                                <option value="@item.OilType" selected>@item.OilType</option>
                                            }
                                            else
                                            {
                                                <option value="@item.OilType">@item.OilType</option>
                                            }
                                        }
                                        else
                                        {
                                            <option value="@item.OilType">@item.OilType</option>
                                        }

                                    }
                                </select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-lg-3 col-form-label" for="txt_oilSpec">Oil Spec</label>

                            <div class="col-lg-7">
                                @*<input type="text" class="form-control" id="txt_oilSpec" name="txt_oilSpec" required>*@
                                <select class="js-select2 form-control" @*onchange="getPIC()"*@ id="txt_oilSpec" name="txt_oilSpec" style="width: 100%;" disabled>
                                    <option value=""></option>
                                    @foreach (var item in ViewBag.Data_OilSpec)
                                    {
                                        if (ViewBag.Spec != null)
                                        {
                                            if (item.OilSpec == ViewBag.SpecOil)
                                            {
                                                <option value="@item.OilSpec" selected>@item.OilSpec</option>
                                            }
                                            else
                                            {
                                                <option value="@item.OilSpec">@item.OilSpec</option>
                                            }
                                        }
                                        else
                                        {
                                            <option value="@item.OilSpec">@item.OilSpec</option>
                                        }

                                    }
                                </select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-lg-3 col-form-label" for="txt_oilHM">Oil HM</label>

                            <div class="col-md-4">
                                <input type="number" class="form-control" id="txt_oilHM" name="txt_oilHM" disabled>
                            </div>
                            <div class="col-md-3">
                                <select class="js-select2 form-control" id="txt_oilhmkm" name="txt_oilhmkm" disabled>
                                    <option value="HM">HM</option>
                                    <option value="KM">KM</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-lg-3 col-form-label" for="txt_nrp">NRP</label>
                            <div class="col-lg-7">
                                @*<select class="js-select2 form-control" onchange="getPIC()" id="txt_nrp" name="txt_nrp" style="width: 100%;" disabled>
                                    </select>*@
                                <input type="text" class="form-control" id="txt_nrp" name="txt_nrp" disabled>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-lg-3 col-form-label" for="txt_pic">PIC</label>

                            <div class="col-lg-7">
                                <input type="text" class="form-control" id="txt_pic" name="txt_pic" disabled>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-lg-3 col-form-label" for="txt_oilChanges">Oil Changed?</label>

                            <div class="col-md-3">
                                <select class="js-select2 form-control" id="txt_oilChanges" name="txt_oilChanges" disabled>
                                    <option value="1">Yes</option>
                                    <option value="0">No</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>

    </div>
</div>

<script src="~/Scripts/New Js/LabelOnlab.js"></script>





